@inherits TinfoilFeedReader.Client.Shared.Components.CodeBehinds.FeedBoxComponent

<div class="feed-box">
    <div class="image">
        @if (ImageData is object)
        {
            <img src="data:image/jpg;base64,@ImageData" />
        }
    </div>
    <h5>
        <a href="@FeedEntry.SourceUrl" target="_blank">
            @FeedEntry.Title
        </a>
    </h5>
    <em>
        @FeedEntry.SourceName, @FeedEntry.TimeSincePublish()
    </em>
    <p>
        @FeedEntry.Summary
    </p>
</div>
