@inherits TinfoilFeedReader.Client.Shared.Components.CodeBehinds.FeedBoxComponent

<div class="feed-box">
    <div class="image"></div>
    <h5>
        <a href="@FeedEntry.Link" target="_blank">
            @FeedEntry.Title
        </a>
    </h5>
    <em>
        @FeedEntry.SourcePage, @FeedEntry.SimpleTimeSincePublish()
    </em>
    <p>@FeedEntry.Summary</p>
</div>
